#d1{
    color:0,0,4;
}
#d1{
    color:2,0,40;
}
#d1{
    color:2,00,4; 
}
#d1{
    color:20,0,4;
}
#d1{
    color:7,0,40;
}
#d1{
    color:200,10,4;
}
#d1{
    color:234,20,34;
}
#d1{
    color:52,20,54;
}