.container{
    display: flex;
    justify-content: end;
}
.box{
    width: 70px;
    height: 70px;
    font-size: 4em;
    text-align: center;
    align-items: center;
}
#box1{
    background-color: #EED3B1;
    border-radius: 15px;
    text-align:left;
    flex-grow: 100
    ;
    
}
#body1{
    background-color: #E8ECD7;
    color:white;
}
.image1{
    box-shadow: 5px 5px 7px black;
    border: solid white;
    border-radius: 20px;
    width: 250px;
    margin: 20px;
    overflow: hidden;
}
.image2{
    box-shadow: 5px 5px 7px black;
    border: solid white;
    border-radius: 20px;
    width: 250px;
    margin: 20px;
    overflow: hidden;
}
.image3{
    box-shadow: 5px 5px 7px black;
    border: solid white;
    border-radius: 20px;
    width: 250px;
    margin: 20px;
    overflow: hidden;
}
.image4{
    box-shadow: 5px 5px 7px black;
    border: solid white;
    border-radius: 20px;
    width: 250px;
    margin: 20px;
    overflow: hidden;
}
.image5{
    box-shadow: 5px 5px 7px black;
    border: solid white;
    border-radius: 20px;
    width: 250px;
    margin: 20px;
    overflow: hidden;
}
.image6{
    box-shadow: 5px 5px 7px black;
    border: solid white;
    border-radius: 20px;
    width: 250px;
    margin: 20px;
    overflow: hidden;
}